<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>게시판</title>
  <link rel="stylesheet" href="/css/board/boardList.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" />
</head>
<body>
<!--                                   html파일경로  :: fragment 이름 -->
<header class="header" th:replace="fragments/header :: header">
</header>

<div class="container">
  <h1 class="title">커뮤니티 게시판</h1>
  <div class="btn-wrap">
    <button class="add-post-btn">새 게시글 작성</button>
  </div>
  <div class="board">
    <!-- 게시물 샘플 -->
    <div class="board-item" th:each="board : ${boardList}">
      <div class="board-img-box">

        <div th:if="${board.fileName == null}" class="board-item-image" style="background-image: url(https://via.placeholder.com/300x200)"></div>
        <div th:unless="${board.fileName == null}" class="board-item-image" th:style="'background-image: url(/upload/' + ${board.fileUploadPath} + '/th_' + ${board.fileUuid} + '_' + ${board.fileName} + ')'"></div>

<!--        <div class="board-item-info">-->
<!--              <span class="like">-->
<!--                <i class="fas fa-heart"></i>-->
<!--                <span class="like-count">12</span>-->
<!--              </span>-->
<!--          <span class="comment">-->
<!--                <i class="fas fa-comment"></i>-->
<!--                <span class="comment-count">5</span>-->
<!--              </span>-->
<!--        </div>-->
      </div>
      <div class="board-item-text">
        <a th:href="@{/board/detail(boardNumber=${board.boardNumber})}">
          <h3 class="board-item-title" th:text="${board.boardTitle}">게시글 제목</h3>
        </a>
        <span class="board-item-author" th:text="${board.userId}">작성자</span>
      </div>
    </div>
    <!-- /게시물 샘플 -->
  </div>
</div>
<!-- 페이징 처리 -->
<div class="page-container">
  <ul class="page-box">
    <a th:href="@{/board/list(page=${pageInfo.startPage-1})}" class="page-a" th:if="${pageInfo.prev}">
      <li class="page-num prev">&lt</li>
    </a>

<!--
    페이징 처리는 시작번호~끝번호까지 반복을 돌려야 하므로 빠른 for문으로만 처리할 수 없다.
    그렇기 때문에 타임리프에서 제공해주는 객체를 사용하여 처리한다. #을 붙이면 타임리프에서 제공해주는 객체를 사용한다.
    numbers라는 객체가 제공하는 sequence(시작값, 끝값)라는 메소드를 이용한다. 1, 5 -> 1,2,3,4,5
-->
    <th:block th:each="i : ${#numbers.sequence(pageInfo.startPage, pageInfo.endPage)}">
      <a th:href="@{/board/list(page=${i})}" class="page-a">
        <li class="page-num" th:text="${i}" th:if="${i != pageInfo.criteria.page}"></li>
        <li class="page-num active" th:text="${i}" th:unless="${i != pageInfo.criteria.page}"></li>
      </a>
    </th:block>

    <a th:href="@{/board/list(page=${pageInfo.endPage+1})}" class="page-a" th:if="${pageInfo.next}">
      <li class="page-num next">&gt</li>
    </a>
  </ul>
</div>
<!-- /페이징 처리 -->


<!-- 채팅 버튼과 창 -->
<div id="chatbot" class="chatbot">
  <div id="chatbot-header" class="chatbot-header">
    <div class="close-box">
      <button id="chatbot-close" class="chatbot-close">X</button>
    </div>
    <h4>챗봇</h4>
  </div>
  <div id="chatbot-body" class="chatbot-body">
    <!-- 메세지 위치-->
<!--    <div class="user-message message">-->
<!--      <div class="message-text">안녕</div>-->
<!--    </div>-->
<!--    <div class="bot-message message">-->
<!--      <div class="message-text">네 안녕하세요</div>-->
<!--    </div>-->
  </div>
  <div id="chatbot-footer" class="chatbot-footer">
    <input type="text" id="chatbot-input" placeholder="궁금한것을 물어보세요!" />
    <button id="chatbot-send">보내기</button>
  </div>
</div>

<button id="chatbot-open" class="chatbot-button">
  <!-- Font Awesome 채팅 아이콘 -->
  <i class="fas fa-comment-dots"></i>
</button>

<input class="board-num" type="hidden" th:value="${boardNumber}">

<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
<script th:src="@{/js/board/boardList.js}" type="module"></script>
<script>
  $('.add-post-btn').on('click', function (){
    window.location.href = '/board/write';
  });
  // localStorage.setItem("id", "aaa");
  // localStorage.getItem("id");
  // sessionStorage.setItem("name", "홍길동");

  let boardNumber = $('.board-num').val();
  if(boardNumber){
    alert(`${boardNumber}번 게시물이 등록되었습니다.`);
  }
</script>
</body>
</html>